body{
    font-family: sans-serif;
    background-color: #f0f0f0;
}

.dados-cad {
    width: 700px;
    margin: auto;
    padding: 40px;
    text-align: center;
}

#titulo-cad {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #0099cc;
}

.inputs > input{
    width: 50%;
    margin: auto;
    display: block;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 30px;
    outline: 0;
}

.inputs #button {
    color: rgb(75, 75, 75);
    outline: 0;
    width: 50%;
    margin: auto;
    display: block;
    padding: 15px;
    margin-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 30px;
    background-image: linear-gradient(to right, #00ffff, #0099cc);
}

div#msgSucesso {
    width: 400px;
    margin: 5px auto;
    padding: 10px;
    background-color: rgb(50, 205, 50, 3);
    border: 1px solid rgb(34, 139, 34);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div.msgErro {
    width: 400px;
    margin: 5px auto;
    padding: 10px;
    background-color: rgb(250, 128, 14, 3);
    border: 1px solid rgb(165, 42, 42);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

