body{
    font-family: sans-serif;
    background-color: #f0f0f0;
}

.form{
    width: 400px;
    margin: auto;
    padding: 40px;
}

#card{
    box-shadow: 1px 1px 5px #cccccc;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

#card-topo{
    text-align: center;
}

#card-topo #img-login{
    width: 150px;
    height: 150px;
    border-radius: 75px;
    box-shadow: 1px 1px 5px #cccccc;
}

#card-topo h2{
    color: #00bfff;
}


#card-inputs > label{
    width: 100%;
    color: rgb(75, 75, 75);
    display: block;
    padding: 5px;
}

#card-inputs > input{
    border-radius: 5px;
    box-shadow: 1px 1px 5px #cccccc;
    outline: 0;
    width: 100%;
    height: 25px;
    margin-bottom: 10px;
}

#card-inputs #botao-acessar{
    background-image: linear-gradient(to right, #00ffff, #0099cc);
    width: 100%;
    height: 35px;
    border-radius: 50px;
    margin-top: 5px;
    box-shadow: 1px 1px 5px #cccccc;
    color: white;
    border:0px;
    outline: 0;
}
